<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <queries>
        <package android:name="com.goodwy.dialer.debug" />
        <package android:name="com.goodwy.dialer" />
        <package android:name="com.goodwy.contacts.debug" />
        <package android:name="com.goodwy.contacts" />
        <package android:name="com.goodwy.smsmessenger.debug" />
        <package android:name="com.goodwy.smsmessenger" />
        <package android:name="com.goodwy.voicerecorder.debug" />
        <package android:name="com.goodwy.voicerecorder" />
        <package android:name="com.goodwy.gallery.debug" />
        <package android:name="com.goodwy.gallery" />
        <package android:name="com.goodwy.filemanager.debug" />
        <package android:name="com.goodwy.filemanager" />
        <package android:name="com.goodwy.audiobooklite" />
        <package android:name="com.goodwy.keyboard" />

        <!-- Required for loading contact accounts -->
        <intent>
            <action android:name="android.accounts.AccountAuthenticator" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="com.goodwy.contacts.App"
        android:allowBackup="true"
        android:appCategory="social"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_launcher_name"
        android:localeConfig="@xml/locale_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="text/directory" />
                <data android:mimeType="text/vcard" />
                <data android:mimeType="text/x-vcard" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.GroupContactsActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.ViewContactActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/details"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/TranslucentTheme">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/person" />
                <data android:mimeType="vnd.android.cursor.dir/contact" />
                <data android:mimeType="vnd.android.cursor.item/group" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/person" />
                <data android:mimeType="vnd.android.cursor.item/contact" />
                <data android:mimeType="vnd.android.cursor.item/raw_contact" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.android.contacts.action.QUICK_CONTACT" />
                <action android:name="android.provider.action.QUICK_CONTACT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/contact" />
                <data android:mimeType="vnd.android.cursor.item/person" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.EditContactActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="contacts"
                    android:mimeType="vnd.android.cursor.item/person" />
                <data
                    android:host="com.android.contacts"
                    android:mimeType="vnd.android.cursor.item/contact" />
                <data
                    android:host="com.android.contacts"
                    android:mimeType="vnd.android.cursor.item/raw_contact" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/person" />
                <data android:mimeType="vnd.android.cursor.dir/contact" />
                <data android:mimeType="vnd.android.cursor.dir/raw_contact" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/group" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/group" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.InsertOrEditContactActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/select_contact">

            <intent-filter>
                <action android:name="android.intent.action.INSERT_OR_EDIT" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/person" />
                <data android:mimeType="vnd.android.cursor.item/contact" />
                <data android:mimeType="vnd.android.cursor.item/raw_contact" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.android.contacts.action.SHOW_OR_CREATE_CONTACT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mailto" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/contact" />
                <data android:mimeType="vnd.android.cursor.dir/person" />
                <data android:mimeType="vnd.android.cursor.dir/phone_v2" />
                <data android:mimeType="vnd.android.cursor.dir/phone" />
                <data android:mimeType="vnd.android.cursor.dir/email_v2" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.goodwy.commons.activities.PurchaseActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label=""
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.goodwy.commons.activities.AboutActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name="com.goodwy.commons.activities.CustomizationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/customize_colors"
            android:parentActivityName=".activities.SettingsActivity" />

        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.AutomaticBackupReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name=".contentproviders.MyContactsContentProvider"
            android:authorities="com.goodwy.commons.contactsprovider"
            android:exported="true" />

        <activity-alias
            android:name=".activities.SplashActivity.Original"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.One"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_one"
            android:roundIcon="@mipmap/ic_launcher_one"
            android:targetActivity=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Two"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_two"
            android:roundIcon="@mipmap/ic_launcher_two"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Three"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_three"
            android:roundIcon="@mipmap/ic_launcher_three"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Four"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_four"
            android:roundIcon="@mipmap/ic_launcher_four"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Five"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_five"
            android:roundIcon="@mipmap/ic_launcher_five"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Six"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_six"
            android:roundIcon="@mipmap/ic_launcher_six"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Seven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_seven"
            android:roundIcon="@mipmap/ic_launcher_seven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eight"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eight"
            android:roundIcon="@mipmap/ic_launcher_eight"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Nine"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_nine"
            android:roundIcon="@mipmap/ic_launcher_nine"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Ten"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ten"
            android:roundIcon="@mipmap/ic_launcher_ten"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".activities.SplashActivity.Eleven"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_eleven"
            android:roundIcon="@mipmap/ic_launcher_eleven"
            android:targetActivity=".activities.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>
